# Maven
log/
target/
/local

# Repository wide ignore DS_Store files
.DS_Store

# Eclipse
!.gitignore
!.github
/*.imports
/*.repositories
.settings/
.project
.classpath
.factorypath
.vscode
.run/
.idea
**/keystore.p12
